# Dependencies
node_modules/

# Environment variables
.env

# Google credentials
credentials.json

# Logs
*.log
npm-debug.log*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Coverage
coverage/

# Build
dist/
build/