# Dependencies
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment variables & Secrets
.env
credentials.json

# Logs
*.log
npm-debug.log*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Coverage
coverage/

# Build
dist/
build/